.container_menu-title{
    
    color         : rgb(65, 157, 65);
    border-color  : rgb(65, 157, 65);
    border-style  : solid;
    margin-bottom : 80px; 
    box-shadow: rgba(65, 157, 65, 0.4) 5px 7px 20px 5px;    
}

.container_menu-title > h1{
        
    margin-top      : 10px;
    margin-bottom   : 10px;    
    font-size       : 150px;    
    margin          : auto;
    display         : flex;
    justify-content : center;
}

.container_menu-title >hr {
    
    margin-top    : 20px;
    margin-bottom : 10px;
}